{% extends 'base\html\main.html' %}


{% block "dashbourd" %}

      <section class="metric">
        <div class="container">
          <h4>نمای کلی</h4>
          <div class="metric-warper">
            <div class="metric-block">
              <div class="metric-title">{{ nt }}</div>
              <div class="discription">تعداد</div>
              <div class="discription">یادداشت های شما</div>
            </div>
            <div class="metric-block">
              <div class="metric-title">{{ inc }}</div>
              <div class="discription">تعداد</div>
              <div class="discription">درآمد ثبت شده</div>
            </div>
            <div class="metric-block">
              <div class="metric-title">{{ exp }}</div>
              <div class="discription">تعداد</div>
              <div class="discription">هزینه ثبت شده</div>
            </div>
            <div class="metric-block">
              <div class="metric-title">{{ ssmark }} {{ ss }}</div>
              <div class="discription">(تومان)</div>
              <div class="discription">موجودی حساب</div>

            </div>
          </div>
        </div>
      </section>

      <section class="metric">
        <div class="container">
          <h4>میانبرها</h4>
          <div class="shurt-warper">
            <div class="shurt-block">
              <a href="{% url 'expense_page' %}" class="link-btn"><button  class="short" >افزودن هزینه</button></a>
            </div>
            <div class="shurt-block">
              <a href="{% url 'income_page' %}" class="link-btn"><button  class="short" >افزودن درآمد</button></a>
            </div>
            <div class="shurt-block">
              <a href="{% url 'note_page' %}" class="link-btn"><button class="short">افزودن یادداشت</button></a>
            </div>
          </div>
        </div>
      </section>

      <section class="metric">
        <div class="container">
          <h4>تاریخچه ها</h4>
          <div class="shurt-warper">
            <div class="shurt-block">
              <a href="{% url 'expense_list_page' %}"><button class="short">هزینه ها</button></a>
            </div>
            <div class="shurt-block">
              <button class="short">درآمد ها</button>
            </div>
            <div class="shurt-block">
              <button class="short">بادداشت ها</button>
            </div>
          </div>
        </div>
      </section>

{% endblock "dashbourd" %}

    